@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

/* In your global CSS or custom Tailwind CSS file */
@layer utilities {
  @keyframes gradientAnimation {
    0% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 60% 60%;
    }
    100% {
      background-position: 50% 50%;
    }
  }

  .bg-radial-gradient {
    background: radial-gradient(
        circle at 15% 50%,
        #000000,
        /* Dark black on the left */ transparent 35%
      ),
      radial-gradient(
        circle at 75% 20%,
        #0073e6,
        /* Blue in the top right corner */ transparent 40%
      ),
      radial-gradient(
        circle at 85% 50%,
        #8a2be2,
        /* Violet in the middle right */ transparent 40%
      ),
      radial-gradient(
        circle at 90% 80%,
        #ff1493,
        /* Pink in the bottom right */ transparent 45%
      );
    background-size: 200% 200%;
    animation: gradientAnimation 8s ease-in-out infinite;
  }
  /* In your global CSS or custom Tailwind CSS file */
  @keyframes twinkling {
    0%,
    100% {
      opacity: 0.2;
      transform: translateY(0);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-200px);
    }
  }

  .bg-animated-stars {
    position: relative;
    overflow: hidden;
  }

  /* Star dots */
  .bg-animated-stars::before,
  .bg-animated-stars::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, darkgray 1px, transparent 1px) repeat;
    background-size: 40px 40px;
    opacity: 0.5;
    animation: twinkling 8s ease-in-out infinite alternate;
  }

  .bg-animated-stars::before {
    animation-delay: 0s;
    transform: translate(0px, 0px);
  }

  .bg-animated-stars::after {
    animation-delay: 4s;
    transform: translate(-20px, -20px);
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .animate-typing {
    overflow: hidden; /* Ensures the text is hidden until it is typed */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 2px solid orange; /* Creates a caret effect */
    width: fit-content; /* Adjusts width to fit content */
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite; /* Typing effect */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.25rem; /* Adjust as needed */
  font-weight: bold; /* Ensure it's bold */
  margin: 1rem 0; /* Adjust margin as needed */
}

h2 {
  font-size: 2rem; /* Adjust as needed */
  font-weight: semi-bold; /* Ensure it's semi-bold */
  margin: 0.75rem 0; /* Adjust margin as needed */
}

h3 {
  font-size: 1.75rem; /* Adjust as needed */
  font-weight: medium; /* Ensure it's medium */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h4 {
  font-size: 1.5rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h5 {
  font-size: 1.25rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h6 {
  font-size: 1rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

/* Other styles... */
