@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.25rem; /* Adjust as needed */
  font-weight: bold; /* Ensure it's bold */
  margin: 1rem 0; /* Adjust margin as needed */
}

h2 {
  font-size: 2rem; /* Adjust as needed */
  font-weight: semi-bold; /* Ensure it's semi-bold */
  margin: 0.75rem 0; /* Adjust margin as needed */
}

h3 {
  font-size: 1.75rem; /* Adjust as needed */
  font-weight: medium; /* Ensure it's medium */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h4 {
  font-size: 1.5rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h5 {
  font-size: 1.25rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

h6 {
  font-size: 1rem; /* Adjust as needed */
  font-weight: normal; /* Ensure it's normal */
  margin: 0.5rem 0; /* Adjust margin as needed */
}

/* Other styles... */
